.section {
  margin: 120px 0px;
}

.tableContainer {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 18px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #b6b6b6;
}

.noCol {
  max-width: 150px;
}

.largeCol {
  min-width: 400px;
}
